.logscreen{
    display: flex;
    flex-direction:row;
    height: 100%;
   
  background-color: black;
  /* background-color: rgb(241, 216, 161);  */
  
}

.box1{
flex: 1;
padding-top: 15%;
padding-left: 2%;
 
}
.box2{
flex: 2;
}



.hash{
    color: #957bda;
    font-style: oblique;
    font-weight: 700;
    padding-bottom: 2%;
}
.logoregister{
  height: 155vh;
}